<div class="nav_wrap">
  <h5>Twit</h5>
  <button ng-click = "timeline_go()" class="btn btn-danger" >Timeline</button>
</div>
<h1>Profile</h1>

<div class="">
  <p>
    {{profile_data._id}}
  </p>
  <img class="profile_pic" src="/images/{{profile_data.avatar_url}}">
</div>

<div>
  <ul>
  <li ng-repeat = "tweet in profile_tweets">
      <img class="tweet_pic" src="/images/{{tweet.avatar_url}}">
    <p>
      {{tweet.text}}
    </p>
    <p>
      {{tweet.userID}}
    </p>
    <p>
      {{tweet.date | date:"MM/dd/yyyy @ h:mma"}}
    </p>
  </li>
    </ul>
</div>
